@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-lg flex w-full justify-center items-center disabled:pointer-events-none;
    padding: 11px 27px;
  }

  .btn-primary {
    @apply bg-purple text-white active:bg-purple-hover active:shadow-focus-input disabled:bg-purple/25;
  }

  .btn-secondary {
    @apply bg-white border border-purple text-purple active:bg-light-purple disabled:text-purple/25 disabled:border-purple/25;
  }
}

@layer utilities {
  .heading-m {
    color: #333333;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word;
  }

  .heading-s {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
  }

  .body-m {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .body-s {
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
  }
}
