@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .heading-m {
    color: #333333;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word;
  }

  .heading-s {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
  }

  .body-m {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .body-s {
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
  }
}
